<div class="jumbotron text-center bg-dark">
  <div class="container">
    <br>
    <h1 class="display-4 text-light">Step Up Your Brazilian Jiu Jitsu Game with BJJ Co-Pilot!</h1>
    <p class="lead text-light">The ultimate tool for mastering BJJ techniques, tracking your progress, and sharing your skills with the community.</p>
    <a href="/users/sign_up" class="btn btn-primary btn-lg">Join the Crew</a>
  </div>
</div>

<div class="container my-5">
  <div class="row">
    <div class="col-md-6">
      <img src="https://wallpapercave.com/wp/wp1874967.jpg" alt="Technique" class="img-fluid rounded">
    </div>
    <div class="col-md-6">
      <br>
      <br>
      <br>
      <br>
      <br>
      <h2 class="mb-4 text-light">Discover and Save Techniques</h2>
      <p class='text-light' >Add techniques to "The Bucket". These are techniques that you want to master. Exploration is made simple with our comprehensive feed of Brazilian Jiu Jitsu techniques, including submissions, positions, and escapes.</p>
    </div>
  </div>
  <div class="row my-5">
    <div class="col-md-6 order-md-2">
      <img src="https://bjj-world.com/wp-content/uploads/2020/10/jiu-jitsu-belts-cover-696x504.jpg" alt="Progress" class="img-fluid rounded">
    </div>
    <div class="col-md-6 order-md-1">
       <br>
      <br>
      <br>
      <br>
      <br>
      <h2 class="mb-4 text-light">Track Your Progress with Ease</h2>
      <p class='text-light'>Add techniques you've mastered to "The Bag". These are techniques you have executed in sparring or competition. Keep track of your journey to black belt. Keep tabs on what you're learning and how far you've come!</p>
    </div>
  </div>
  <div class="row my-5">
    <div class="col-md-6">
      <img src="https://images.unsplash.com/photo-1624938518616-3be0add427d1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80" alt="Community" class="img-fluid rounded">
    </div>
    <div class="col-md-6">
       <br>
      <br>
      <br>
      <br>
      <br>
      <h2 class="mb-4 text-light">Elevate the Community</h2>
      <p class='text-light'>Join a community of BJJ enthusiasts and become a part of elevating the sport. Share your skills, gain
         new insights and help others reach their full potential. Unleash the full potential of your BJJ journey!</p>
    </div>
  </div>
</div>


