<div class="jumbotron text-center">
  <div class="container">
    <br>
    <div class="phrase">
    <h1 class="display-4 text-light"><b>Unleash Your Inner Champion!</b></h1>
  </div>
    <img width="64" height="64" src="https://img.icons8.com/external-icongeek26-linear-colour-icongeek26/64/external-kimono-martial-arts-icongeek26-linear-colour-icongeek26.png" alt="external-kimono-martial-arts-icongeek26-linear-colour-icongeek26"/>
    <p class="lead text-light">The ultimate tool for mastering BJJ techniques, tracking your progress, and sharing your skills with the community.</p>
    <a href="/users/sign_up" class="btn btn-primary btn-lg btn-custom">Join the Crew</a>
  </div>
</div>

<div class="container">
  <div class="row">
   <div class="col-md-6 d-flex justify-content-center align-items-center">
    <img class="move-right" src="https://img.icons8.com/emoji/96/bucket-emoji.png" alt="bucket"/>
</div>
    <div class="col-md-6">
      <br>
      <br>
      <br>
      <br>
      <br>
      <h2 class="mb-4 text-light">Discover and Save Techniques</h2>
      <p class='text-light' >Add techniques to <strong>"The Bucket"</strong>. These are techniques that you want to master. Exploration is made simple with our comprehensive feed of Brazilian Jiu Jitsu techniques, including submissions, positions, and escapes.</p>
    </div>
  </div>
  <hr>

  <div class="row my-5">
    <div class="col-md-6 order-md-2 d-flex justify-content-center align-items-center">
            <img class='move-left'width="80" height="80" src="https://img.icons8.com/office/80/bag-diagonal-view.png" alt="bag-diagonal-view"/>    </div>
    <div class="col-md-6 order-md-1">
       <br>
      <br>
      <br>
      <br>
      <br>
      <h2 class="mb-4 text-light">Track Your Progress with Ease</h2>
      <p class='text-light'>Add techniques you've mastered to <strong>"The Bag"</strong>. These are techniques you have executed in sparring or competition. Keep track of your journey to black belt. Keep tabs on what you're learning and how far you've come!</p>
    </div>
  </div>

   <hr class='hr2'>
  <div class="row my-5">
    <div class="col-md-6 justify-content-center align-items-center">
      <img class="move-right2" width="96" height="96" src="https://img.icons8.com/fluency/96/microsoft-people.png" alt="microsoft-people"/>
    </div>
    <div class="col-md-6">
       <br>
      <br>
      <br>
      <br>
      <br>
      <h2 class="mb-4 text-light">Elevate the Community</h2>
      <p class='text-light'>Join a community of BJJ enthusiasts and become a part of elevating the sport. Share your skills, gain
         new insights and help others reach their full potential. Unleash the full potential of your BJJ journey!</p>
    </div>
  </div>

  <hr>


</div>


<style>

  p{
    padding-top: 20px;
  }

  hr{
    width: 100%;  
    border-width: 20px 0px 0px; 
    transform: rotate(-3deg);
    margin-top: 80px;
    color: lightskyblue;
  }

  .hr2{
    width: 100%; 
    color: lightskyblue; 
    border-width: 20px 0px 0px;  
    transform: rotate(6deg);
    margin-top: 130px;
  }

  .phrase{
    padding-top: 80px;

  }

  h1{
    text-transform: uppercase;
    font-weight: 600;
    }

  .move-right {
    margin-top: 100px;
  }
  .move-left {
    margin-top: 100px;
  }

  .move-right2 {
    margin-top: 120px;
    margin-left: 250px; /* adjust this value as needed */
  }

body .container {
    padding-right: 0 !important;
    padding-left: 0 !important;
}

</style>