<p style="color: green"><%= notice %></p>

<h1 class='text-center'>Submissions</h1>

<div id="submissions">
  <% @submissions.each do |submission| %>
    <%= render submission %>
  <% end %>
</div>

<%= link_to "New submission", new_submission_path %>
